body {
  background-color: #F5F5F5;
  font: 0.9em "Courier New", monospace;
  color: #000000;
  margin: 0;
}
body > div {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: fit-content;
  margin: 0 auto;
  padding: 24px;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

::selection {
  background: #FFFF80;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 1em;
  }
  body > div {
    padding: 48px;
  }
}
h2 {
  margin-top: 0;
}
