@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
body {
  background-color: #f5f5f5;
  font: 0.9em "Courier Prime", monospace;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 24px;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #4b9fff;
}

a:hover {
  text-decoration: underline;
}

::-moz-selection {
  background: #ffff80;
}

::selection {
  background: #ffff80;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 1em;
    padding: 48px;
  }
}
@media only screen and (max-height: 384px) {
  body {
    position: relative;
  }
}
h2 {
  margin-top: 0;
}
