@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
body {
  background-color: #f5f5f5;
  font: 0.78em "Courier Prime", monospace;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 24px;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #4b9fff;
}

a:hover {
  text-decoration: underline;
}

::-moz-selection {
  background: #ffff80;
}

::selection {
  background: #ffff80;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 1em;
    padding: 48px;
  }
}
@media only screen and (max-height: 384px) {
  body {
    position: relative;
  }
}
body {
  align-items: flex-start;
}

article h1 {
  margin: 0;
}
article p {
  margin: 1.5em 0;
}

nav ul {
  list-style: none;
  margin: 3em 0 0;
  padding: 0;
}
nav li {
  display: inline;
  line-height: 1.5em;
  margin: 0 0.8em 0 0;
}
nav li:last-child {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 1.2em;
    align-items: center;
  }
  body > * {
    width: 600px;
  }
}
