@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");
body {
  background-color: #262626;
  font: 0.78em "Courier Prime", monospace;
  color: #d0d0d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 24px;
}

p {
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: underline;
}

::-moz-selection {
  background: #4b9fff;
}

::selection {
  background: #4b9fff;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 1em;
    padding: 48px;
  }
}
ul {
  margin: 0;
  padding-left: 24px;
}

li {
  line-height: 1.5em;
}

li:last-child {
  list-style-type: none;
}
